Requirements
============

Toolchain required:

* python v2.6
* mysql v5.1.73
* apache v2.2
* django v1.6

The `django documention`_ has all of the information needed to
install the above.

.. _django documention: https://docs.djangoproject.com/en/1.6/

Install sphinx v1.2.3 to generate or modify this documentation.
