<h2>Comments</h2>
<button class='createButton' type='button'>Add a Comment</button>
<table class='addBlock'>
	<tr>
		<td class='rateLabel'>Rate this oligo
		<td rowspan=2 width='100%'>
			<textarea class='textInput' rows='2'></textarea>
	<tr>
		<td>
			<select class='ratingInput'>
				<option value="5">*****</option>
				<option value="4">****</option>
				<option value="3">***</option>
				<option value="2">**</option>
				<option value="1">*</option>
			</select>
	<tr>
		<td>
		<td>
			<button class='addButton' type='button'>Add</button>
</table>
<div class='error'>Sorry, something when wrong retrieving comments. Please select a row again.</div>
<table class='table'>
	<tbody>
</table>
